<header>
  <div class="left">
    <button mat-button
            class="home-btn"
            (click)="home()">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-button
            *ngIf="isAuthenticated()"
            class="app-menu-btn"
            (click)="toggleAppMenuVisible($event)">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button
            class="app-github-btn"
            (click)="jumpGithub()">
      <i class="fa fa-github"
         aria-hidden="true"></i>
    </button>
  </div>

  <div class="right">
    <button mat-fab
      class="create-btn"
      color="primary"
      *ngIf="isAuthenticated()"
      (click)="create()">
      <mat-icon>note_add</mat-icon>
    </button>

    <button mat-fab
            class="user-menu-btn"
            [color]="bindUserButtonColor()"
            (click)="showUserDialog($event)"
            [matTooltip]="userTooltipLabel()"
            [matTooltipPosition]="'before'">
      <mat-icon>person</mat-icon>
    </button>
  </div>

  <div class="search">
    <form ngForm (ngSubmit)="onSearch()">
      <mat-form-field>
        <input matInput
              placeholder="検索キーワード"
              [(ngModel)]="searchKeyword"
              name="domainSearchKeyword">
      </mat-form-field>
    </form>
  </div>
</header>

<app-full-searcher #searcher></app-full-searcher>

<div class="contents">
  <router-outlet></router-outlet>
</div>

<div class="app-menu"
     *ngIf="appMenuVisible">
  <ul>
    <li>
      <button mat-button
              (click)="export()">データエクスポート</button>
    </li>
    <li>
      <button mat-button
              (click)="import()">データインポート</button>
    </li>
    <li *ngIf="false">
      <button mat-button
              (click)="license()">ライセンスの表示</button>
    </li>
  </ul>
</div>
