<header>
  <div class="left">
    <button mat-button class="home-btn" (click)="home()">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-button class="app-menu-btn" (click)="toggleAppMenuVisible($event)">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <button *ngIf="false" mat-fab class="user-menu-btn" (click)="toggleUserMenuVisible($event)">
    <mat-icon>person</mat-icon>
  </button>
</header>

<div class="contents">
  <router-outlet></router-outlet>
</div>

<div class="app-menu" *ngIf="appMenuVisible">
  <ul>
    <li>
      <button mat-button (click)="export()">データエクスポート</button>
    </li>
    <li *ngIf="false">
      <button mat-button (click)="license()">ライセンスの表示</button>
    </li>
  </ul>
</div>

<div class="user-menu" *ngIf="userMenuVisible">
  <ul>
    <li>
      <button mat-button (click)="login()">ログイン</button>
    </li>
  </ul>
</div>