<header>
  <div class="left">
    <button mat-button class="home-btn" (click)="home()">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-button class="menu-btn" (click)="toggleAppMenuVisible()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <button mat-fab class="user-btn">
    <mat-icon>person</mat-icon>
  </button>
</header>

<div class="contents">
  <router-outlet></router-outlet>
</div>

<div class="app-menu" *ngIf="appMenuVisible">
  <ul>
    <li>
      <a routerLink="/license">ライセンスの表示</a>
    </li>
  </ul>
</div>