<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <!-- アンダースコア区切り (スネークケース) のカラム名をキャメルケースにマップする -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <!-- SQL 内で AS によって設定された列名をマップする -->
    <setting name="useColumnLabel" value="true"/>
  </settings>
  <typeHandlers>
    <package name="org.enlightenseries.DomainDictionary.infrastructure.datasource.typehandler" />
  </typeHandlers>
</configuration>
