<mat-card>

  <div class="button-area">
    <button mat-raised-button *ngIf="isAuthenticated()" color="primary" (click)="create()">追加</button>
  </div>
  
  <div class="filter-area">
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <input matInput #filterName placeholder="ドメイン名でフィルタ">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <input matInput #filterDescription placeholder="説明でフィルタ">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-table #table [dataSource]="filteredDomains">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>ドメイン名</mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/detail/{{row.id}}">{{row.name}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>説明</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.description | slice:0:40 }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</mat-card>