<form #form="ngForm">
  <mat-card class="form-grid">
  
    <div class="form-block width-full">
      <mat-form-field>
        <input matInput placeholder="項目名"
          [(ngModel)]="editingDomain.name"
          name="name"
          #nameForm="ngModel"
          required
        >
      </mat-form-field>
      <span class="form-error" [hidden]="nameForm.valid || nameForm.pristine">
        項目名は必須です。
      </span>
    </div>

    <div class="form-block width-full">
      <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="3" placeholder="フォーマット/情報の構成"
          [(ngModel)]="editingDomain.format"
          name="format"
          #formatForm="ngModel"
        ></textarea>
        <mat-hint align="end"><a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="blank">Markdown形式</a>で記述することができます。</mat-hint>
      </mat-form-field>
    </div>
    
    <div class="form-block width-full">
      <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="3" placeholder="業務内容説明"
          [(ngModel)]="editingDomain.description"
          name="description"
          #descriptionForm="ngModel"
          required
        ></textarea>
        <mat-hint align="end"><a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="blank">Markdown形式</a>で記述することができます。</mat-hint>
      </mat-form-field>
      <span class="form-error" [hidden]="descriptionForm.valid || descriptionForm.pristine">
        業務内容説明は必須です。
      </span>
    </div>
    
    <div class="form-block width-full">
      <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="3" placeholder="存在理由・他との違い"
          [(ngModel)]="editingDomain.existential"
          name="existential"
          #existentialForm="ngModel"
          required
        ></textarea>
        <mat-hint align="end"><a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="blank">Markdown形式</a>で記述することができます。</mat-hint>
      </mat-form-field>
      <span class="form-error" [hidden]="existentialForm.valid || existentialForm.pristine">
        存在理由・他との違いは必須です。
      </span>
    </div>

    <div class="form-block width-full">
      <button mat-raised-button color="primary" (click)="clickedRegist(form)">登録</button>
    </div>

  </mat-card>
</form>
