<mat-tab-group (selectedIndexChange)="selectedIndexChanged($event)">
  <mat-tab label="詳細"></mat-tab>
  <mat-tab *ngIf="isAuthenticated()" label="ドメインの編集"></mat-tab>
  <mat-tab *ngIf="isAuthenticated()" label="その他"></mat-tab>
</mat-tab-group>

<ng-container *ngIf="isActiveDetail()">
  <mat-card class="form-grid">
    <div class="form-block width-full">
      <p class="domain-name" [innerHTML]="innerHtmlOfName()"></p>
    </div>
    <div class="form-block width-full">
      <p class="data-title">業務内容説明</p>
      <p class="markdown-contents" [innerHTML]="innerHtmlOfDescription()"></p>
    </div>
    <div class="form-block width-full">
      <p class="data-title">存在理由・他との違い</p>
      <p class="markdown-contents" [innerHTML]="innerHtmlOfExistential()"></p>
    </div>
    <div class="form-block width-full">
      <p class="data-title">関連ドメイン</p>
      <section class="related-domains">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let _domain of relatedDomains">
            <a [routerLink]="'/detail/' + _domain.domainId">{{_domain.name}}</a>
          </mat-chip>
        </mat-chip-list>
      </section>
      <button mat-raised-button *ngIf="isAuthenticated()" (click)="showAddRelationDialog()">関連ドメインを編集する</button>
    </div>
    <div class="form-block width-full">
      <p class="data-title">フォーマット/情報の構成</p>
      <p class="markdown-contents" [innerHTML]="innerHtmlOfFormat()"></p>
    </div>
  </mat-card>
</ng-container>

<ng-container *ngIf="isActiveEdit()">
  <app-domain-edit-form [initialValue]="editFormInitialValue" (regist)="emittedRegist($event)"></app-domain-edit-form>
</ng-container>

<ng-container *ngIf="isActiveOther()">
  <mat-card class="meta-card">
    <p>
      <span class="meta-label">ID:{{id}}</span>
    </p>
    <p>
      <span class="meta-label">作成日:{{viewDomain.created | date:'yyyy/MM/dd HH:mm'}}</span>
    </p>
    <p>
      <span class="meta-label">作成者:{{viewDomain.createdBy}}</span>
    </p>
    <p>
      <span class="meta-label">更新日:{{viewDomain.updated | date:'yyyy/MM/dd HH:mm'}}</span>
    </p>
    <p>
      <span class="meta-label">更新者:{{viewDomain.updatedBy}}</span>
    </p>
  </mat-card>

  <mat-card>
    <p>
      <button mat-raised-button color="warn" (click)="clickedDelete()">このドメインを完全に削除</button>
    </p>
  </mat-card>
</ng-container>