<mat-card>

  <div class="button-area">
    <button mat-raised-button color="primary" (click)="create()">追加</button>
  </div>
  
  <div class="filter-area" *ngIf="false">
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <input matInput #filterName placeholder="項目名でフィルタ">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <input matInput #filterDescription placeholder="説明でフィルタ">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-table #table [dataSource]="domainSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>項目名</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="format">
      <mat-header-cell *matHeaderCellDef>フォーマット</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.format | slice:0:40 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>説明</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.description | slice:0:40 }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"><button mat-raised-button class="detail-btn" (click)="detail(row.id)">詳細</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</mat-card>