<mat-card>

    <button mat-fab color="primary" (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
  
  <div class="filter-area">
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <input matInput #filterName placeholder="項目名でフィルタ">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <input matInput #filterDescription placeholder="説明でフィルタ">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-table #table [dataSource]="domainSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>項目名</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>データ型</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="length">
      <mat-header-cell *matHeaderCellDef>桁数</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.length}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="format">
      <mat-header-cell *matHeaderCellDef>フォーマット</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.format}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>説明</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"><button mat-button class="menu-btn" (click)="edit(row.id)">edit</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</mat-card>