@import "~@angular/material/theming";
@include mat-core();

$dd-primary: mat-palette($mat-indigo);
$dd-accent: mat-palette($mat-yellow);
$dd-theme: mat-light-theme($dd-primary, $dd-accent);
@include angular-material-theme($dd-theme);

body {
  background-color: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  margin: 0;
}

