mat-tab-group {
  margin-bottom: 0.5em;
}

/*
詳細タブ
*/
.form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.form-block {
  padding: 0.5em;
}
.form-block mat-form-field {
  width: 100%;
}
.form-block button {
  width: 100%;
}
.width-full {
  grid-column: 1 / span 2;
}
.width-left {
  grid-column: 1;
}
.width-right {
  grid-column: 2;
}

.domain-name {
  font-size: 2.0em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}

.data-title {
  border-bottom: 1px solid #eee;
  color: #aaa;
  font-size: 0.8em;
}

.markdown-contents ::ng-deep blockquote {
  background-color: #f8f8f8;
  border-left: 3px solid #ddd;
  color: #666;
  margin: 0.5em 0;
  padding: 0.5em 1em;
}
.markdown-contents ::ng-deep blockquote p {
  margin: 0.2em 0;
}
.markdown-contents ::ng-deep pre {
  border: 1px solid #ddd;
  padding: 1.0em;
}

.related-domains {
  padding-bottom: 0.5em;
  overflow: hidden;
}
.related-domains /deep/ .mat-chip-list-stacked .mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip) {
  float: left;
  margin: 0.3em;
}

/*
その他タブ
*/
.meta-card {
  margin-bottom: 0.5em;
}

.meta-label {
  color: #888;
}