<mat-tab-group (selectedIndexChange)="selectedIndexChanged($event)">
  <mat-tab label="詳細"></mat-tab>
  <mat-tab label="項目の編集"></mat-tab>
  <mat-tab label="その他"></mat-tab>
</mat-tab-group>

<ng-container *ngIf="isActiveDetail()">
  <mat-card class="form-grid">
    <div class="form-block width-full">
      <p class="md-contents" [innerHTML]="innerHtmlOfName()"></p>
    </div>
    <div class="form-block width-full">
      <p class="data-title">フォーマット</p>
      <p class="md-contents" [innerHTML]="innerHtmlOfFormat()"></p>
    </div>
    <div class="form-block width-full">
      <p class="data-title">業務内容説明</p>
      <p class="md-contents" [innerHTML]="innerHtmlOfDescription()"></p>
    </div>
    <div class="form-block width-full">
      <p class="data-title">存在理由・他との違い</p>
      <p class="md-contents" [innerHTML]="innerHtmlOfExistential()"></p>
    </div>
  </mat-card>
</ng-container>

<ng-container *ngIf="isActiveEdit()">
  <app-domain-edit-form [initialValue]="editFormInitialValue" (regist)="emittedRegist($event)"></app-domain-edit-form>
</ng-container>

<ng-container *ngIf="isActiveOther()">
  <mat-card class="meta-card">
    <p>
      <span class="meta-label">項目ID:{{id}}</span>
    </p>
    <p>
      <span class="meta-label">作成日:{{viewDomain.created | date:'yyyy/MM/dd HH:mm'}}</span>
    </p>
    <p>
      <span class="meta-label">更新日:{{viewDomain.updated | date:'yyyy/MM/dd HH:mm'}}</span>
    </p>
  </mat-card>

  <mat-card>
    <p>
      <button mat-raised-button color="warn" (click)="clickedDelete()">この項目を完全に削除</button>
    </p>
  </mat-card>
</ng-container>