mat-tab-group {
  margin-bottom: 0.5em;
}

/*
詳細タブ
*/
.form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.form-block {
  padding: 0.5em;
}
.form-block mat-form-field {
  width: 100%;
}
.form-block button {
  width: 100%;
}
.width-full {
  grid-column: 1 / span 2;
}
.width-left {
  grid-column: 1;
}
.width-right {
  grid-column: 2;
}

.data-title {
  border-bottom: 1px solid #eee;
  color: #aaa;
  font-size: 0.8em;
}

.related-domains {
  padding-bottom: 0.5em;
  overflow: hidden;
}
.related-domains /deep/ .mat-chip-list-stacked .mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip) {
  float: left;
  margin: 0.3em;
}

/*
その他タブ
*/
.meta-card {
  margin-bottom: 0.5em;
}

.meta-label {
  color: #888;
}