<mat-card class="form-grid">
  
  <div class="form-block width-full">
    <mat-form-field>
      <input matInput placeholder="項目名">
    </mat-form-field>
  </div>

  <div class="form-block width-full">
    <mat-form-field>
      <textarea matInput matTextareaAutosize placeholder="フォーマット説明"></textarea>
    </mat-form-field>
  </div>
  
  <div class="form-block width-full">
    <mat-form-field>
      <textarea matInput matTextareaAutosize placeholder="業務内容説明"></textarea>
    </mat-form-field>
  </div>
  
  <div class="form-block width-full">
    <mat-form-field>
      <textarea matInput matTextareaAutosize placeholder="存在理由・他との違い"></textarea>
    </mat-form-field>
  </div>

  <div class="form-block width-full">
    <button mat-raised-button color="primary" (click)="clickedRegist()">登録</button>
  </div>
  
</mat-card>
