/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #f3f3f3;
}

header {
    position: fixed;
    width: 100%;
}
header .menu-btn {
    float: left;
}
header .user-btn {
    float: right;
}

.contents {
    margin: 0 auto;
    max-width: 940px;
}