/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #f3f3f3;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

header {
    position: fixed;
    width: 100%;
}
header .left {
    position: fixed;
    left: 15px;
    top: 15px;
}
header .home-btn {
    display: block;
}
header .menu-btn {
    display: block;
}
header .user-btn {
    position: fixed;
    right: 15px;
    top: 15px;
}

.contents {
    margin: 0 auto;
    max-width: 940px;
}